services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/talentforge
      - SPRING_AI_OPENAI_API_KEY=${GROQ_API_KEY}
      - SPRING_AI_OPENAI_BASE_URL=https://api.groq.com/openai
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: talentforge
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: