services:
  postgres:
    image: postgres:16
    container_name: talentforge-db
    environment:
      POSTGRES_DB: talentforge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: